@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400;1,700&family=Shrikhand&display=swap");

h1,
h2,
h3,
h4,
p,
b,
span {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
header a{
  text-decoration: none;
  color: #000000;
}
header span{
  font-family: "Shrikhand";
  font-size: 48px;
}
h1{
  font-size: 28px;
}
p{
  font-size: 18px;
  font-weight: 100;
}
.btn{
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.article__description{
  overflow: hidden;
  h3, p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
  } 
}
article{
  .new{
    p{
      font-weight: 600;
      font-size: 18px;
      color: #ffffff;
    }
  }
}